.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.generatedNumbersContainer {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  font-size: 1rem;
  font-weight: bold;


  >li {
    background: #7f3992;
    border-radius: 186px;
    color: #fff;
    display: block;
    font-display: swap;
    font-size: 21px;
    line-height: 57px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 57px;
  }

}

.generateNumberButton {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}


.generateNumberButtonDisabled {
  color: #fff;
  background-color: #64afff;
  border-color: #64afff;
  cursor: not-allowed;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.latestSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto 3rem;
  padding: 0 1rem;
}

.dezenasSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dezenas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  >p {
    font-size: 1.5rem;
    color: #7f3992;
    font-weight: bold;
    text-align: center;
  }
}

.gamePlayedContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0 1rem;
  >span {
    font-size: 1.25rem;
  }
}

.highlight {
  background: #fff77a;
  border-radius: .5rem;
  padding: .5rem;
}

.award {
  display: flex;
  gap: 1rem;
}

.accumulated {
  width: 100%;
  text-align: center;
  color: #007bff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.awardResults {
  >div {
    isplay: flex;
    flex-direction: column;
    gap: 0.5rem;
  } 
}

.winners {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cityWinner {
  text-transform: capitalize;
}
